.Header{
    align-items: center;
    background: #ffffff;
    border-bottom: 1px solid gainsboro;
    display: flex;
    flex-direction: row;
    height: 5vh;
    justify-content: space-between;
    min-height: 50px;
    padding: 5px 10%;
    width: 80%;
}

.Header__logo{
    max-height: 40px;
    width: auto;
}