.Header{
    height: 5vh;
    min-height: 50px;
    background: #ffffff;
    width: 80%;
    padding: 5px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gainsboro;

}

.Header__logo{
    max-height: 40px;
    width: auto;
}