.GridContainer > div{
    border: 1px solid gainsboro;
}
.GridContainer{
    display: grid;
    grid-template-columns: repeat(50, 20px);
    grid-template-rows: repeat(50, 15px);
    column-gap: 10px;
    row-gap: 15px;
    
}