.Builder__work-area {
  height: 65vh;
  width: 100%;
  background-color: #e5e5ea;
  overflow: auto;
}
.Builder__tool-area {
  background-color: #fffffff2;
  padding: 0 20px;
  bottom: 0;
  left: 0;
  width: 97%;
  margin-top: 10px;
}

.Builder__tool-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.Builder__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 98%;
}

.Builder__tool_toggle {
  font-size: 2em;
  background-color: #fffffff2;
  color: black;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  margin: auto;
}
